openapi: 3.0.0
info:
  title: WaterrAI API
  version: 1.0.0
  description: >-
    REST API for the WaterrAI meeting platform — create scenarios, spin up AI-driven meetings, fetch transcripts and
    analyses.
  contact:
    name: Support
    email: harshit@waterr.ai
servers:
  - url: https://api.waterr.ai/v1
    description: Production
components:
  securitySchemes:
    apiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: wai_...
      description: 'API key from waterr.ai/settings?tab=api-keys. Send as `Authorization: Bearer wai_<your_key>`.'
  schemas:
    GoalResult:
      type: object
      properties:
        id:
          type: string
        analysis_id:
          type: string
        goal_id:
          type: string
        score:
          type: number
        feedback:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Analysis:
      type: object
      properties:
        id:
          type: string
        meeting_id:
          type: string
        average_score:
          type: number
        total_score:
          type: number
        summary:
          type: string
        strengths:
          type: string
        growth_areas:
          type: string
        repetitions:
          type: string
        filler_words:
          type: string
        weak_words:
          type: string
        sentence_starters:
          type: string
        goal_results:
          type: array
          items:
            $ref: '#/components/schemas/GoalResult'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    User:
      type: object
      properties:
        id:
          type: string
        google_user_id:
          type: string
        email:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        role:
          type: string
          enum:
            - user
            - admin
            - manager
    AuthResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        data:
          type: object
          properties:
            token:
              type: string
            user:
              $ref: '#/components/schemas/User'
    ErrorResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        details:
          type: string
    MeetingControls:
      type: object
      properties:
        id:
          type: string
        scenario_id:
          type: string
        allow_recording:
          type: boolean
        allow_transcription:
          type: boolean
        allow_chat:
          type: boolean
        allow_screen_share:
          type: boolean
        allow_participant_video:
          type: boolean
        allow_participant_audio:
          type: boolean
        allow_live_vision:
          type: boolean
        allow_web_search:
          type: boolean
        use_gpt_vision:
          type: boolean
        max_participants:
          type: integer
        waiting_room_enabled:
          type: boolean
        auto_admit:
          type: boolean
        end_call_enabled:
          type: boolean
        controls:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Scenario:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        prompt:
          type: string
        user_prompt:
          type: string
        type:
          type: string
          enum:
            - interview
            - roleplay
            - upskill
            - brainstorm
        persona_id:
          type: string
        org_id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Voice:
      type: object
      properties:
        id:
          type: string
        partner_voice_id:
          type: string
        name:
          type: string
        provider:
          type: string
        user_basic_info_id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
security:
  - apiKeyAuth: []
tags:
  - name: Users
  - name: Personas
  - name: Voices
  - name: Scenarios
  - name: Goals
  - name: Meetings
  - name: Analyses
  - name: Recordings
  - name: Transcripts
paths:
  /analyses/{id}:
    get:
      summary: Get an analysis by ID
      tags:
        - Analyses
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Analysis details with goal results
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  meeting_id:
                    type: string
                  average_score:
                    type: integer
                  total_score:
                    type: integer
                  summary:
                    type: string
                  strengths:
                    type: string
                  growth_areas:
                    type: string
                  repetitions:
                    type: array
                    items:
                      type: string
                    description: List of repeated words or phrases
                  filler_words:
                    type: array
                    items:
                      type: string
                    description: List of filler words used
                  weak_words:
                    type: array
                    items:
                      type: string
                    description: List of weak or uncertain words used
                  sentence_starters:
                    type: array
                    items:
                      type: string
                    description: List of sentence starters used
                  goal_results:
                    type: array
                    items:
                      $ref: '#/components/schemas/GoalResult'
        '404':
          description: Analysis not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /analyses/meeting/{meetingId}:
    get:
      summary: Get analysis by meeting ID
      tags:
        - Analyses
      parameters:
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Analysis details with goal results
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  meeting_id:
                    type: string
                  average_score:
                    type: integer
                  total_score:
                    type: integer
                  summary:
                    type: string
                  strengths:
                    type: string
                  growth_areas:
                    type: string
                  repetitions:
                    type: array
                    items:
                      type: string
                    description: List of repeated words or phrases
                  filler_words:
                    type: array
                    items:
                      type: string
                    description: List of filler words used
                  weak_words:
                    type: array
                    items:
                      type: string
                    description: List of weak or uncertain words used
                  sentence_starters:
                    type: array
                    items:
                      type: string
                    description: List of sentence starters used
                  goal_results:
                    type: array
                    items:
                      $ref: '#/components/schemas/GoalResult'
        '404':
          description: Analysis not found for this meeting
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /analyses/trigger/{meetingId}:
    post:
      summary: Trigger manual analysis for a meeting
      tags:
        - Analyses
      parameters:
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Analysis triggered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
        '400':
          description: Analysis already exists or bad request
        '404':
          description: Meeting or transcripts not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /goals:
    get:
      summary: Get all goals
      tags:
        - Goals
      responses:
        '200':
          description: A list of goals
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
    post:
      summary: Create a new goal
      tags:
        - Goals
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  maxLength: 100
                  description: Name of the goal
                description:
                  type: string
                  description: Detailed description of the goal
                instructions:
                  type: string
                  description: Instructions for achieving the goal
                metrics:
                  type: object
                  description: JSON object containing goal metrics
                scenario_id:
                  type: string
                  description: ID of the scenario this goal is directly linked to (optional)
                active:
                  type: boolean
                  description: Whether this goal is active for the scenario (default true)
                scenarios:
                  type: array
                  items:
                    type: string
                  description: Array of scenario IDs to associate with this goal (legacy support)
      responses:
        '201':
          description: Goal created successfully
        '400':
          description: Invalid input data
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /goals/{id}:
    put:
      summary: Update a goal
      tags:
        - Goals
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 100
                description:
                  type: string
                instructions:
                  type: string
                metrics:
                  type: object
                scenario_id:
                  type: string
                  description: ID of the scenario this goal is directly linked to
                active:
                  type: boolean
                  description: Whether this goal is active for the scenario
                scenarios:
                  type: array
                  items:
                    type: string
                  description: Array of scenario IDs to associate with this goal (legacy support)
      responses:
        '200':
          description: Goal updated successfully
        '404':
          description: Goal not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
    delete:
      summary: Delete a goal
      tags:
        - Goals
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Goal deleted successfully
        '404':
          description: Goal not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /meetings:
    get:
      summary: Get all meetings
      tags:
        - Meetings
      security:
        - apiKeyAuth: []
      responses:
        '200':
          description: List of all meetings
        '401':
          description: Unauthorized
        '500':
          description: Server error
    post:
      summary: Create a new meeting
      tags:
        - Meetings
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - person_name
              properties:
                person_name:
                  type: string
                  description: Name of the participant joining the session.
                scenario_id:
                  type: string
                  description: UUID of the scenario to use.
                voice_id:
                  type: string
                  description: Optional override for the persona's voice.
                meeting_type:
                  type: string
                  enum:
                    - regular
                    - instant
                  description: Defaults to "regular".
                note_context:
                  type: string
                  description: Session-specific context injected into the AI prompt without modifying the scenario.
                end_user_id:
                  type: string
                  description: For end-user sessions; pairs the meeting with an existing end_user membership.
      responses:
        '201':
          description: Meeting created successfully
        '400':
          description: Invalid input data
        '401':
          description: Unauthorized
        '403':
          description: Session limit reached or subscription inactive
        '500':
          description: Server error
  /meetings/{id}:
    get:
      summary: Get a meeting by ID
      tags:
        - Meetings
      security:
        - apiKeyAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: The meeting ID (must be a valid integer)
      responses:
        '200':
          description: Meeting details
        '401':
          description: Unauthorized
        '404':
          description: Meeting not found
        '500':
          description: Server error
  /meetings/{meetingId}:
    put:
      summary: Update a meeting
      tags:
        - Meetings
      security:
        - apiKeyAuth: []
      parameters:
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                meeting_url:
                  type: string
                room_token:
                  type: string
                status:
                  type: string
                  enum:
                    - created
                    - started
                    - ended
                scenario_id:
                  type: string
      responses:
        '200':
          description: Meeting updated successfully
        '401':
          description: Unauthorized
        '404':
          description: Meeting not found
        '500':
          description: Server error
    delete:
      summary: Delete a meeting
      tags:
        - Meetings
      security:
        - apiKeyAuth: []
      parameters:
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Meeting deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Meeting not found
        '500':
          description: Server error
  /meetings/{meetingId}/end:
    put:
      summary: End a meeting
      tags:
        - Meetings
      security:
        - apiKeyAuth: []
      parameters:
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                duration_seconds:
                  type: integer
                  description: Client-reported session duration in seconds. Server reconciles with server-side timing.
                ended_at:
                  type: string
                  format: date-time
                  description: Timestamp when the client closed the session.
      responses:
        '200':
          description: Meeting ended successfully
        '401':
          description: Unauthorized
        '404':
          description: Meeting not found
        '500':
          description: Server error
  /personas:
    get:
      summary: Get all personas
      tags:
        - Personas
      responses:
        '200':
          description: A list of personas
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
    post:
      summary: Create a new persona
      tags:
        - Personas
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - job_title
              properties:
                name:
                  type: string
                  maxLength: 100
                  description: Name of the persona
                job_title:
                  type: string
                  maxLength: 100
                  description: Job title of the persona
                voice_id:
                  type: string
                  description: ID of the voice associated with the persona
                demeanor:
                  type: string
                  enum:
                    - friendly
                    - analytical
                    - empathetic
                    - curious
                    - enthusiastic
                    - critical
                    - casual
                    - blunt
                    - assertive
                    - neutral
                  description: The personality style of the persona
                background:
                  type: string
                  description: Detailed background information about the persona
                avatar:
                  type: string
                  maxLength: 255
                  description: URL or path to the persona's avatar image
                gender:
                  type: string
                  description: Persona gender (used for voice/avatar defaults).
      responses:
        '201':
          description: Persona created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  job_title:
                    type: string
                  voice_id:
                    type: string
                  user_basic_info_id:
                    type: string
                  demeanor:
                    type: string
                  background:
                    type: string
                  avatar:
                    type: string
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
        '400':
          description: Invalid input data
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /personas/{id}:
    get:
      summary: Get a persona by ID
      tags:
        - Personas
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Persona details
        '404':
          description: Persona not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
    put:
      summary: Update a persona
      tags:
        - Personas
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 100
                job_title:
                  type: string
                  maxLength: 100
                voice_id:
                  type: string
                demeanor:
                  type: string
                  enum:
                    - friendly
                    - analytical
                    - empathetic
                    - curious
                    - enthusiastic
                    - critical
                    - casual
                    - blunt
                    - assertive
                    - neutral
                background:
                  type: string
                avatar:
                  type: string
                  maxLength: 255
                gender:
                  type: string
      responses:
        '200':
          description: Persona updated successfully
        '404':
          description: Persona not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
    delete:
      summary: Delete a persona
      tags:
        - Personas
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Persona deleted successfully
        '404':
          description: Persona not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /recordings/url-with-thumbnail/{meetingId}:
    get:
      summary: Get recording CloudFront URL with thumbnail by Daily meeting ID
      tags:
        - Recordings
      parameters:
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
          description: The Daily.co meeting ID
      responses:
        '200':
          description: Recording URL with thumbnail
          content:
            application/json:
              schema:
                type: object
                properties:
                  video_url:
                    type: string
                  thumbnail_url:
                    type: string
                    nullable: true
        '404':
          description: No recording found for this meeting
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /recordings/meeting/{meetingId}:
    get:
      summary: Get recordings by meeting ID
      tags:
        - Recordings
      parameters:
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A list of recordings for the meeting
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /scenarios:
    get:
      summary: Get all scenarios
      tags:
        - Scenarios
      responses:
        '200':
          description: A list of scenarios
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Scenario'
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
    post:
      summary: Create a new scenario
      tags:
        - Scenarios
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - type
                - persona_id
              properties:
                name:
                  type: string
                  description: Name of the scenario
                description:
                  type: string
                  description: Description of the scenario
                prompt:
                  type: string
                  description: Prompt for the scenario
                user_prompt:
                  type: string
                  description: Original user prompt entered on Create page
                welcome_message:
                  type: string
                  description: Optional first message shown when a participant enters.
                type:
                  type: string
                  enum:
                    - interview
                    - roleplay
                    - upskill
                    - brainstorm
                persona_id:
                  type: string
                  description: ID of the associated persona
                data_model_id:
                  type: string
                  description: ID of the associated data model (optional)
                goals:
                  type: array
                  items:
                    type: string
                  description: Array of goal IDs to attach to the scenario.
      responses:
        '201':
          description: Scenario created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                  prompt:
                    type: string
                  type:
                    type: string
                  persona_id:
                    type: string
                  org_id:
                    type: string
        '400':
          description: Invalid input data
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /scenarios/{id}:
    put:
      summary: Update a scenario
      tags:
        - Scenarios
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 100
                description:
                  type: string
                prompt:
                  type: string
                user_prompt:
                  type: string
                  description: Original user prompt entered on Create page
                welcome_message:
                  type: string
                type:
                  type: string
                  enum:
                    - interview
                    - roleplay
                    - upskill
                    - brainstorm
                persona_id:
                  type: string
                data_model_id:
                  type: string
                  description: ID of the associated data model (optional)
                goals:
                  type: array
                  items:
                    type: string
                visibility:
                  type: string
                  enum:
                    - public
                    - private
                webhook_url:
                  type: string
                redirect_url:
                  type: string
                language:
                  type: string
                  description: BCP-47 language tag biasing STT/TTS for the session.
                maxDuration:
                  type: integer
                  description: Maximum session duration in minutes.
                max_participants:
                  type: integer
                allow_screen_share:
                  type: boolean
                allow_participant_video:
                  type: boolean
                allow_participant_audio:
                  type: boolean
                allow_recording:
                  type: boolean
                allow_transcription:
                  type: boolean
                allow_chat:
                  type: boolean
                allow_live_vision:
                  type: boolean
                allow_web_search:
                  type: boolean
                use_gpt_vision:
                  type: boolean
                deep_think:
                  type: boolean
                auto_analysis:
                  type: boolean
                waiting_room_enabled:
                  type: boolean
                auto_admit:
                  type: boolean
                end_call_enabled:
                  type: boolean
                prejoin_camera_on:
                  type: boolean
                eager_bot_join:
                  type: boolean
                consent_required:
                  type: boolean
                consent_message:
                  type: string
                use_own_keys:
                  type: boolean
                controls:
                  type: object
                  description: Free-form per-scenario control overrides (camera, mic, share, etc.).
      responses:
        '200':
          description: Scenario updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
        '404':
          description: Scenario not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
    delete:
      summary: Delete a scenario
      tags:
        - Scenarios
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Scenario deleted successfully
        '404':
          description: Scenario not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /scenarios/{id}/export:
    get:
      summary: Export a scenario as JSON
      tags:
        - Scenarios
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Scenario exported successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  exportVersion:
                    type: string
                  exportedAt:
                    type: string
                  originalCreator:
                    type: object
                  scenario:
                    type: object
        '403':
          description: Permission denied
        '404':
          description: Scenario not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /scenarios/membership/{membershipId}/meetings:
    get:
      summary: Get all meetings for all scenarios of a user
      tags:
        - Scenarios
      parameters:
        - name: membershipId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A list of all meetings for all scenarios of the user
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        daily_id:
                          type: string
                        status:
                          type: string
                        created_at:
                          type: string
                          format: date-time
                        updated_at:
                          type: string
                          format: date-time
                        scenario:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            persona:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                                job_title:
                                  type: string
                                avatar:
                                  type: string
                        Recordings:
                          type: array
                          items:
                            $ref: '#/components/schemas/Recording'
                        Transcripts:
                          type: array
                          items:
                            $ref: '#/components/schemas/Transcript'
                        Analysis:
                          $ref: '#/components/schemas/Analysis'
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /transcripts/{id}:
    get:
      summary: Get a transcript by ID
      tags:
        - Transcripts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Transcript details
        '404':
          description: Transcript not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /transcripts/meeting/{meetingId}:
    get:
      summary: Get transcripts by meeting ID
      tags:
        - Transcripts
      parameters:
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A list of transcripts for the meeting
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /users/{userId}:
    get:
      summary: Get a user by ID
      tags:
        - Users
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User details
        '404':
          description: User not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
    put:
      summary: Update a user
      tags:
        - Users
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                email:
                  type: string
                phone:
                  type: string
                city:
                  type: string
                country:
                  type: string
                summary:
                  type: string
      responses:
        '200':
          description: User updated successfully
        '404':
          description: User not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /voices:
    get:
      summary: List available voices
      description: >-
        Return every voice available to the caller. Use the returned `id` as `voice_id` when creating personas or
        meetings.
      tags:
        - Voices
      security:
        - apiKeyAuth: []
      responses:
        '200':
          description: List of voices retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Voice'
        '401':
          description: Unauthorized
        '500':
          description: Server error
