openapi: 3.0.0
info:
  title: WaterrAI API
  version: 1.0.0
  description: >-
    REST API for the WaterrAI meeting platform — create scenarios, spin up AI-driven meetings, fetch transcripts and
    analyses.
  contact:
    name: Support
    email: harshit@waterr.ai
servers:
  - url: https://api.waterr.ai/v1
    description: Production
components:
  securitySchemes:
    apiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: wai_...
      description: 'API key from waterr.ai/settings?tab=api-keys. Send as `Authorization: Bearer wai_<your_key>`.'
  schemas:
    GoalResult:
      type: object
      properties:
        id:
          type: string
        analysis_id:
          type: string
        goal_id:
          type: string
        score:
          type: number
        feedback:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Analysis:
      type: object
      properties:
        id:
          type: string
        meeting_id:
          type: string
        average_score:
          type: number
        total_score:
          type: number
        summary:
          type: string
        strengths:
          type: string
        growth_areas:
          type: string
        repetitions:
          type: string
        filler_words:
          type: string
        weak_words:
          type: string
        sentence_starters:
          type: string
        goal_results:
          type: array
          items:
            $ref: '#/components/schemas/GoalResult'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    User:
      type: object
      properties:
        id:
          type: string
        google_user_id:
          type: string
        email:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        role:
          type: string
          enum:
            - user
            - admin
            - manager
    AuthResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        data:
          type: object
          properties:
            token:
              type: string
            user:
              $ref: '#/components/schemas/User'
    ErrorResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        details:
          type: string
    MeetingControls:
      type: object
      properties:
        id:
          type: string
        scenario_id:
          type: string
        allow_recording:
          type: boolean
        allow_transcription:
          type: boolean
        allow_chat:
          type: boolean
        allow_screen_share:
          type: boolean
        allow_participant_video:
          type: boolean
        allow_participant_audio:
          type: boolean
        allow_live_vision:
          type: boolean
        allow_web_search:
          type: boolean
        use_gpt_vision:
          type: boolean
        max_participants:
          type: integer
        waiting_room_enabled:
          type: boolean
        auto_admit:
          type: boolean
        end_call_enabled:
          type: boolean
        controls:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Scenario:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        prompt:
          type: string
        user_prompt:
          type: string
        type:
          type: string
          enum:
            - interview
            - roleplay
            - upskill
            - brainstorm
        persona_id:
          type: string
        org_id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Voice:
      type: object
      properties:
        id:
          type: string
        partner_voice_id:
          type: string
        name:
          type: string
        provider:
          type: string
        user_basic_info_id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CustomFunction:
      type: object
      description: A tool the LLM can call mid-meeting. Defined once on your account, attached to one or more scenarios.
      required:
        - id
        - name
        - description
        - parameters_schema
        - execution_mode
        - has_webhook_secret
        - timeout_ms
        - tool_spec
      properties:
        id:
          type: string
          format: uuid
          description: Tool UUID. Generated by the server.
          example: 4f8a6c50-9d3b-4c1f-9c0a-7a3b6e2d1f10
        membership_id:
          type: string
          format: uuid
          description: Account that owns the tool.
          example: a1b2c3d4-e5f6-7890-abcd-ef0123456789
        name:
          type: string
          maxLength: 64
          pattern: '^[a-zA-Z0-9_-]{1,64}$'
          description: 'Function name the LLM calls. Letters, digits, `_`, `-`. Max 64. Unique per account.'
          example: lookup_account
        description:
          type: string
          description: One-sentence prompt that tells the LLM when to call this tool. Shown verbatim to the model.
          example: 'Fetch the participant''s CRM record so you can reference their plan, MRR, and last contact date.'
        parameters_schema:
          type: object
          description: 'JSON Schema for the arguments. Top-level type must be `"object"`.'
          default: { type: 'object', properties: {}, required: [] }
          example:
            type: object
            properties:
              account_id:
                type: string
                description: The participant's account ID (e.g. cus_XXXX).
            required:
              - account_id
        execution_mode:
          type: string
          enum:
            - webhook
            - client
          default: webhook
          description: '`webhook` — we POST the call to `webhook_url` and use the response. `client` — your frontend handles the call.'
          example: webhook
        webhook_url:
          type: string
          format: uri
          nullable: true
          description: 'Where we POST the tool call. Required when `execution_mode = "webhook"`.'
          example: 'https://your-app.com/waterr/tools/lookup_account'
        has_webhook_secret:
          type: boolean
          description: 'True if a signing secret is set. The secret itself is never returned — only this flag.'
          example: true
        timeout_ms:
          type: integer
          minimum: 1000
          maximum: 30000
          default: 10000
          description: 'Max wait for your webhook to respond, in ms. Range 1000–30000.'
          example: 8000
        on_call:
          type: string
          enum:
            - generate_filler
            - static_filler
            - silent
            - passthrough
          default: silent
          description: 'What the persona does WHILE the tool runs. `silent` (default) — go quiet. `static_filler` — speak the exact `static_filler` phrase. `generate_filler` — pick from a generic pool ("let me check on that"). `passthrough` — silent + skip LLM follow-up on the result.'
          example: static_filler
        static_filler:
          type: string
          nullable: true
          description: 'Phrase the persona speaks while the tool runs. Required when `on_call = "static_filler"`. Must be null otherwise.'
          example: 'Sure, let me grab that for you.'
        on_resolve:
          type: string
          enum:
            - generate_response
            - response_in_result
            - add_to_context
            - fire_and_forget
          default: generate_response
          description: 'What to do with the tool result AFTER it returns. `generate_response` (default) — feed to LLM, persona speaks about it. `add_to_context` — stash silently, no follow-up turn. `response_in_result` — speak the result verbatim (Gemini Live: degrades to add_to_context). `fire_and_forget` — don''t wait for the result at all.'
          example: generate_response
        tool_spec:
          type: object
          description: 'Read-only. The OpenAI-shaped spec the LLM sees: `{ type, function: { name, description, parameters } }`.'
          example:
            type: function
            function:
              name: lookup_account
              description: 'Fetch the participant''s CRM record so you can reference their plan, MRR, and last contact date.'
              parameters:
                type: object
                properties:
                  account_id:
                    type: string
                required:
                  - account_id
        created_at:
          type: string
          format: date-time
          example: '2026-06-18T12:34:56.000Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-06-18T12:34:56.000Z'
    ScenarioCustomFunctionAttachment:
      type: object
      description: Links a tool to a scenario. The tool is advertised to the LLM only when `active = true`.
      required:
        - id
        - scenario_id
        - custom_function_id
        - active
      properties:
        id:
          type: string
          format: uuid
          example: f0d2e1b8-cc1d-4ef7-a3ba-1f4b0d2c5a4b
        scenario_id:
          type: string
          format: uuid
          example: 7e3b9c2a-1d4f-4a1b-bdc6-9c8b2d3f4e5a
        custom_function_id:
          type: string
          format: uuid
          example: 4f8a6c50-9d3b-4c1f-9c0a-7a3b6e2d1f10
        active:
          type: boolean
          default: true
          description: 'Set `false` to hide the tool from the LLM without detaching.'
          example: true
        position:
          type: integer
          minimum: 0
          default: 0
          description: 'Display order in the UI. Runtime ignores this.'
          example: 0
        custom_function:
          $ref: '#/components/schemas/CustomFunction'
          description: Embedded tool definition. Returned on list/attach/update responses.
        created_at:
          type: string
          format: date-time
          example: '2026-06-18T12:35:00.000Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-06-18T12:35:00.000Z'
security:
  - apiKeyAuth: []
tags:
  - name: Users
  - name: Personas
  - name: Voices
  - name: Scenarios
  - name: Goals
  - name: Meetings
  - name: Analyses
  - name: Recordings
  - name: Transcripts
  - name: Tools
    description: Account-scoped custom function (tool) definitions the LLM can call mid-meeting.
  - name: Scenario Tools
    description: Per-scenario attachments linking a scenario to one or more tool definitions.
paths:
  /analyses/{id}:
    get:
      summary: Get an analysis by ID
      tags:
        - Analyses
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Analysis details with goal results
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  meeting_id:
                    type: string
                  average_score:
                    type: integer
                  total_score:
                    type: integer
                  summary:
                    type: string
                  strengths:
                    type: string
                  growth_areas:
                    type: string
                  repetitions:
                    type: array
                    items:
                      type: string
                    description: List of repeated words or phrases
                  filler_words:
                    type: array
                    items:
                      type: string
                    description: List of filler words used
                  weak_words:
                    type: array
                    items:
                      type: string
                    description: List of weak or uncertain words used
                  sentence_starters:
                    type: array
                    items:
                      type: string
                    description: List of sentence starters used
                  goal_results:
                    type: array
                    items:
                      $ref: '#/components/schemas/GoalResult'
        '404':
          description: Analysis not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /analyses/meeting/{meetingId}:
    get:
      summary: Get analysis by meeting ID
      tags:
        - Analyses
      parameters:
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Analysis details with goal results
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  meeting_id:
                    type: string
                  average_score:
                    type: integer
                  total_score:
                    type: integer
                  summary:
                    type: string
                  strengths:
                    type: string
                  growth_areas:
                    type: string
                  repetitions:
                    type: array
                    items:
                      type: string
                    description: List of repeated words or phrases
                  filler_words:
                    type: array
                    items:
                      type: string
                    description: List of filler words used
                  weak_words:
                    type: array
                    items:
                      type: string
                    description: List of weak or uncertain words used
                  sentence_starters:
                    type: array
                    items:
                      type: string
                    description: List of sentence starters used
                  goal_results:
                    type: array
                    items:
                      $ref: '#/components/schemas/GoalResult'
        '404':
          description: Analysis not found for this meeting
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /analyses/trigger/{meetingId}:
    post:
      summary: Trigger manual analysis for a meeting
      tags:
        - Analyses
      parameters:
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Analysis triggered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
        '400':
          description: Analysis already exists or bad request
        '404':
          description: Meeting or transcripts not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /goals:
    get:
      summary: Get all goals
      tags:
        - Goals
      responses:
        '200':
          description: A list of goals
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
    post:
      summary: Create a new goal
      tags:
        - Goals
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  maxLength: 100
                  description: Name of the goal
                description:
                  type: string
                  description: Detailed description of the goal
                instructions:
                  type: string
                  description: Instructions for achieving the goal
                metrics:
                  type: object
                  description: JSON object containing goal metrics
                scenario_id:
                  type: string
                  description: ID of the scenario this goal is directly linked to (optional)
                active:
                  type: boolean
                  description: Whether this goal is active for the scenario (default true)
                scenarios:
                  type: array
                  items:
                    type: string
                  description: Array of scenario IDs to associate with this goal (legacy support)
      responses:
        '201':
          description: Goal created successfully
        '400':
          description: Invalid input data
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /goals/{id}:
    put:
      summary: Update a goal
      tags:
        - Goals
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 100
                description:
                  type: string
                instructions:
                  type: string
                metrics:
                  type: object
                scenario_id:
                  type: string
                  description: ID of the scenario this goal is directly linked to
                active:
                  type: boolean
                  description: Whether this goal is active for the scenario
                scenarios:
                  type: array
                  items:
                    type: string
                  description: Array of scenario IDs to associate with this goal (legacy support)
      responses:
        '200':
          description: Goal updated successfully
        '404':
          description: Goal not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
    delete:
      summary: Delete a goal
      tags:
        - Goals
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Goal deleted successfully
        '404':
          description: Goal not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /meetings:
    get:
      summary: Get all meetings
      tags:
        - Meetings
      security:
        - apiKeyAuth: []
      responses:
        '200':
          description: List of all meetings
        '401':
          description: Unauthorized
        '500':
          description: Server error
    post:
      summary: Create a new meeting
      tags:
        - Meetings
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - person_name
                - scenario_id
              properties:
                person_name:
                  type: string
                  description: Name of the participant joining the session.
                scenario_id:
                  type: string
                  description: UUID of the scenario to use. The scenario must exist or the request is rejected with 404.
                voice_id:
                  type: string
                  description: Optional override for the persona's voice.
                meeting_type:
                  type: string
                  enum:
                    - regular
                    - instant
                  description: Defaults to "regular".
                note_context:
                  type: string
                  description: Session-specific context injected into the AI prompt without modifying the scenario.
                end_user_id:
                  type: string
                  description: For end-user sessions; pairs the meeting with an existing end_user membership.
      responses:
        '201':
          description: Meeting created successfully
        '400':
          description: Invalid input data
        '401':
          description: Unauthorized
        '403':
          description: Session limit reached or subscription inactive
        '500':
          description: Server error
  /meetings/{id}:
    get:
      summary: Get a meeting by ID
      tags:
        - Meetings
      security:
        - apiKeyAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: The meeting ID (must be a valid integer)
      responses:
        '200':
          description: Meeting details
        '401':
          description: Unauthorized
        '404':
          description: Meeting not found
        '500':
          description: Server error
  /meetings/{meetingId}:
    put:
      summary: Update a meeting
      tags:
        - Meetings
      security:
        - apiKeyAuth: []
      parameters:
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                meeting_url:
                  type: string
                room_token:
                  type: string
                status:
                  type: string
                  enum:
                    - created
                    - started
                    - ended
                scenario_id:
                  type: string
      responses:
        '200':
          description: Meeting updated successfully
        '401':
          description: Unauthorized
        '404':
          description: Meeting not found
        '500':
          description: Server error
    delete:
      summary: Delete a meeting
      tags:
        - Meetings
      security:
        - apiKeyAuth: []
      parameters:
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Meeting deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Meeting not found
        '500':
          description: Server error
  /meetings/{meetingId}/end:
    put:
      summary: End a meeting
      tags:
        - Meetings
      security:
        - apiKeyAuth: []
      parameters:
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ended_at
              properties:
                ended_at:
                  type: string
                  format: date-time
                  description: Timestamp when the client closed the session. Used to compute final `duration_seconds` against the meeting's `created_at`; if omitted the server cannot calculate duration correctly.
                duration_seconds:
                  type: integer
                  description: Client-reported session duration in seconds. If provided, server uses it directly; otherwise server computes it as `ended_at − created_at`.
      responses:
        '200':
          description: Meeting ended successfully
        '401':
          description: Unauthorized
        '404':
          description: Meeting not found
        '500':
          description: Server error
  /personas:
    get:
      summary: Get all personas
      tags:
        - Personas
      responses:
        '200':
          description: A list of personas
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
    post:
      summary: Create a new persona
      tags:
        - Personas
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - job_title
              properties:
                name:
                  type: string
                  maxLength: 100
                  description: Name of the persona
                job_title:
                  type: string
                  maxLength: 100
                  description: Job title of the persona
                voice_id:
                  type: string
                  description: ID of the voice associated with the persona
                demeanor:
                  type: string
                  enum:
                    - friendly
                    - analytical
                    - empathetic
                    - curious
                    - enthusiastic
                    - critical
                    - casual
                    - blunt
                    - assertive
                    - neutral
                  description: The personality style of the persona
                background:
                  type: string
                  description: Detailed background information about the persona
                avatar:
                  type: string
                  maxLength: 255
                  description: URL or path to the persona's avatar image
                gender:
                  type: string
                  description: Persona gender (used for voice/avatar defaults).
      responses:
        '201':
          description: Persona created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  job_title:
                    type: string
                  voice_id:
                    type: string
                  user_basic_info_id:
                    type: string
                  demeanor:
                    type: string
                  background:
                    type: string
                  avatar:
                    type: string
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
        '400':
          description: Invalid input data
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /personas/{id}:
    get:
      summary: Get a persona by ID
      tags:
        - Personas
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Persona details
        '404':
          description: Persona not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
    put:
      summary: Update a persona
      tags:
        - Personas
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 100
                job_title:
                  type: string
                  maxLength: 100
                voice_id:
                  type: string
                demeanor:
                  type: string
                  enum:
                    - friendly
                    - analytical
                    - empathetic
                    - curious
                    - enthusiastic
                    - critical
                    - casual
                    - blunt
                    - assertive
                    - neutral
                background:
                  type: string
                avatar:
                  type: string
                  maxLength: 255
                gender:
                  type: string
      responses:
        '200':
          description: Persona updated successfully
        '404':
          description: Persona not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
    delete:
      summary: Delete a persona
      tags:
        - Personas
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Persona deleted successfully
        '404':
          description: Persona not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /recordings/url-with-thumbnail/{meetingId}:
    get:
      summary: Get recording CloudFront URL with thumbnail by Daily meeting ID
      tags:
        - Recordings
      parameters:
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
          description: The Daily.co meeting ID
      responses:
        '200':
          description: Recording URL with thumbnail
          content:
            application/json:
              schema:
                type: object
                properties:
                  video_url:
                    type: string
                  thumbnail_url:
                    type: string
                    nullable: true
        '404':
          description: No recording found for this meeting
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /recordings/meeting/{meetingId}:
    get:
      summary: Get recordings by meeting ID
      tags:
        - Recordings
      parameters:
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A list of recordings for the meeting
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /scenarios:
    get:
      summary: Get all scenarios
      tags:
        - Scenarios
      responses:
        '200':
          description: A list of scenarios
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Scenario'
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
    post:
      summary: Create a new scenario
      tags:
        - Scenarios
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - type
                - persona_id
              properties:
                name:
                  type: string
                  description: Name of the scenario
                description:
                  type: string
                  description: Description of the scenario
                prompt:
                  type: string
                  description: Prompt for the scenario
                user_prompt:
                  type: string
                  description: Original user prompt entered on Create page
                welcome_message:
                  type: string
                  description: Optional first message shown when a participant enters.
                type:
                  type: string
                  enum:
                    - interview
                    - roleplay
                    - upskill
                    - brainstorm
                persona_id:
                  type: string
                  description: ID of the associated persona
                data_model_id:
                  type: string
                  description: ID of the associated data model (optional)
                goals:
                  type: array
                  items:
                    type: string
                  description: Array of goal IDs to attach to the scenario.
      responses:
        '201':
          description: Scenario created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                  prompt:
                    type: string
                  type:
                    type: string
                  persona_id:
                    type: string
                  org_id:
                    type: string
        '400':
          description: Invalid input data
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /scenarios/{id}:
    put:
      summary: Update a scenario
      tags:
        - Scenarios
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 100
                description:
                  type: string
                prompt:
                  type: string
                user_prompt:
                  type: string
                  description: Original user prompt entered on Create page
                welcome_message:
                  type: string
                type:
                  type: string
                  enum:
                    - interview
                    - roleplay
                    - upskill
                    - brainstorm
                persona_id:
                  type: string
                data_model_id:
                  type: string
                  description: ID of the associated data model (optional)
                goals:
                  type: array
                  items:
                    type: string
                visibility:
                  type: string
                  enum:
                    - public
                    - restricted
                webhook_url:
                  type: string
                redirect_url:
                  type: string
                language:
                  type: string
                  description: BCP-47 language tag biasing STT/TTS for the session.
                maxDuration:
                  type: integer
                  description: Maximum session duration in minutes.
                max_participants:
                  type: integer
                allow_screen_share:
                  type: boolean
                allow_participant_video:
                  type: boolean
                allow_participant_audio:
                  type: boolean
                allow_recording:
                  type: boolean
                allow_transcription:
                  type: boolean
                allow_chat:
                  type: boolean
                allow_live_vision:
                  type: boolean
                allow_web_search:
                  type: boolean
                use_gpt_vision:
                  type: boolean
                deep_think:
                  type: boolean
                auto_analysis:
                  type: boolean
                waiting_room_enabled:
                  type: boolean
                auto_admit:
                  type: boolean
                end_call_enabled:
                  type: boolean
                prejoin_camera_on:
                  type: boolean
                eager_bot_join:
                  type: boolean
                consent_required:
                  type: boolean
                consent_message:
                  type: string
                use_own_keys:
                  type: boolean
                controls:
                  type: object
                  description: Free-form per-scenario control overrides (camera, mic, share, etc.).
      responses:
        '200':
          description: Scenario updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
        '404':
          description: Scenario not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
    delete:
      summary: Delete a scenario
      tags:
        - Scenarios
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Scenario deleted successfully
        '404':
          description: Scenario not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /scenarios/{id}/export:
    get:
      summary: Export a scenario as JSON
      tags:
        - Scenarios
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Scenario exported successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  exportVersion:
                    type: string
                  exportedAt:
                    type: string
                  originalCreator:
                    type: object
                  scenario:
                    type: object
        '403':
          description: Permission denied
        '404':
          description: Scenario not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /scenarios/membership/{membershipId}/meetings:
    get:
      summary: Get all meetings for all scenarios of a user
      tags:
        - Scenarios
      parameters:
        - name: membershipId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A list of all meetings for all scenarios of the user
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        daily_id:
                          type: string
                        status:
                          type: string
                        created_at:
                          type: string
                          format: date-time
                        updated_at:
                          type: string
                          format: date-time
                        scenario:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            persona:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                                job_title:
                                  type: string
                                avatar:
                                  type: string
                        Recordings:
                          type: array
                          items:
                            $ref: '#/components/schemas/Recording'
                        Transcripts:
                          type: array
                          items:
                            $ref: '#/components/schemas/Transcript'
                        Analysis:
                          $ref: '#/components/schemas/Analysis'
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /transcripts/{id}:
    get:
      summary: Get a transcript by ID
      tags:
        - Transcripts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Transcript details
        '404':
          description: Transcript not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /transcripts/meeting/{meetingId}:
    get:
      summary: Get transcripts by meeting ID
      tags:
        - Transcripts
      parameters:
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A list of transcripts for the meeting
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /users/{userId}:
    get:
      summary: Get a user by ID
      tags:
        - Users
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User details
        '404':
          description: User not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
    put:
      summary: Update a user
      tags:
        - Users
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                email:
                  type: string
                phone:
                  type: string
                city:
                  type: string
                country:
                  type: string
                summary:
                  type: string
      responses:
        '200':
          description: User updated successfully
        '404':
          description: User not found
        '500':
          description: Server error
      security:
        - apiKeyAuth: []
  /voices:
    get:
      summary: List available voices
      description: >-
        Return every voice available to the caller. Use the returned `id` as `voice_id` when creating personas or
        meetings.
      tags:
        - Voices
      security:
        - apiKeyAuth: []
      responses:
        '200':
          description: List of voices retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Voice'
        '401':
          description: Unauthorized
        '500':
          description: Server error
  /custom-functions:
    get:
      operationId: ListTools
      summary: List tools
      description: Return every tool on your account, oldest first.
      tags:
        - Tools
      security:
        - apiKeyAuth: []
      responses:
        '200':
          description: List of tool definitions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomFunction'
              example:
                data:
                  - id: 4f8a6c50-9d3b-4c1f-9c0a-7a3b6e2d1f10
                    membership_id: a1b2c3d4-e5f6-7890-abcd-ef0123456789
                    name: lookup_account
                    description: 'Fetch the participant''s CRM record so you can reference their plan, MRR, and last contact date.'
                    parameters_schema:
                      type: object
                      properties:
                        account_id:
                          type: string
                      required:
                        - account_id
                    execution_mode: webhook
                    webhook_url: 'https://your-app.com/waterr/tools/lookup_account'
                    has_webhook_secret: true
                    timeout_ms: 8000
                    tool_spec:
                      type: function
                      function:
                        name: lookup_account
                        description: 'Fetch the participant''s CRM record so you can reference their plan, MRR, and last contact date.'
                        parameters:
                          type: object
                          properties:
                            account_id:
                              type: string
                          required:
                            - account_id
                    created_at: '2026-06-18T12:34:56.000Z'
                    updated_at: '2026-06-18T12:34:56.000Z'
        '401':
          description: 'Unauthorized — missing or invalid API key.'
        '500':
          description: Server error.
    post:
      operationId: CreateTool
      summary: Create a tool
      description: >-
        Register a tool on your account. Define once, then attach to any number of scenarios with
        [`Attach a tool to a scenario`](#tag/Scenario-Tools/operation/AttachToolToScenario). Editing the definition later
        ([`Update a tool`](#tag/Tools/operation/UpdateTool)) propagates to every attached scenario instantly.
      tags:
        - Tools
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - description
              properties:
                name:
                  type: string
                  pattern: '^[a-zA-Z0-9_-]{1,64}$'
                  maxLength: 64
                  description: 'Function name the LLM calls. Letters, digits, `_`, `-`. Max 64. Unique per account.'
                  example: lookup_account
                description:
                  type: string
                  description: One-sentence prompt the LLM reads to decide when to call this tool.
                  example: 'Fetch the participant''s CRM record so you can reference their plan, MRR, and last contact date.'
                parameters_schema:
                  type: object
                  description: 'JSON Schema for the arguments. Top-level `type` must be `"object"`.'
                  default: { type: 'object', properties: {}, required: [] }
                  example:
                    type: object
                    properties:
                      account_id:
                        type: string
                        description: The participant's account ID (e.g. cus_XXXX).
                    required:
                      - account_id
                execution_mode:
                  type: string
                  enum:
                    - webhook
                    - client
                  default: webhook
                  description: '`webhook` — we POST the call to `webhook_url`. `client` — your frontend handles it.'
                  example: webhook
                webhook_url:
                  type: string
                  format: uri
                  description: 'HTTP(S) endpoint for tool calls. Required when `execution_mode = "webhook"`.'
                  example: 'https://your-app.com/waterr/tools/lookup_account'
                webhook_secret:
                  type: string
                  description: 'HMAC-SHA256 secret. Signs every webhook request as `X-Waterr-Signature: sha256=<hex>`. Never returned after creation.'
                  example: 'whsec_8f2c9e7b5d4a3e1c2f5d8b6e9a4c7f1e3b6d8a2c5e7f9b1d4a6c8e2f5b7d9a3c'
                timeout_ms:
                  type: integer
                  minimum: 1000
                  maximum: 30000
                  default: 10000
                  description: 'Webhook response timeout in ms. Range 1000–30000.'
                  example: 8000
                on_call:
                  type: string
                  enum:
                    - generate_filler
                    - static_filler
                    - silent
                    - passthrough
                  default: silent
                  description: 'What the persona does while the tool runs. See [Conversational modes](/api-reference/custom-functions#conversational-modes).'
                  example: static_filler
                static_filler:
                  type: string
                  description: 'Phrase to speak during the tool call. **Required** when `on_call = "static_filler"`, **forbidden** otherwise.'
                  example: 'Sure, let me grab that for you.'
                on_resolve:
                  type: string
                  enum:
                    - generate_response
                    - response_in_result
                    - add_to_context
                    - fire_and_forget
                  default: generate_response
                  description: 'What to do with the result after the tool returns.'
                  example: generate_response
            example:
              name: lookup_account
              description: 'Fetch the participant''s CRM record so you can reference their plan, MRR, and last contact date.'
              parameters_schema:
                type: object
                properties:
                  account_id:
                    type: string
                    description: The participant's account ID (e.g. cus_XXXX).
                required:
                  - account_id
              execution_mode: webhook
              webhook_url: 'https://your-app.com/waterr/tools/lookup_account'
              webhook_secret: 'whsec_8f2c9e7b5d4a3e1c2f5d8b6e9a4c7f1e3b6d8a2c5e7f9b1d4a6c8e2f5b7d9a3c'
              timeout_ms: 8000
      responses:
        '201':
          description: Tool created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CustomFunction'
              example:
                data:
                  id: 4f8a6c50-9d3b-4c1f-9c0a-7a3b6e2d1f10
                  membership_id: a1b2c3d4-e5f6-7890-abcd-ef0123456789
                  name: lookup_account
                  description: 'Fetch the participant''s CRM record so you can reference their plan, MRR, and last contact date.'
                  parameters_schema:
                    type: object
                    properties:
                      account_id:
                        type: string
                    required:
                      - account_id
                  execution_mode: webhook
                  webhook_url: 'https://your-app.com/waterr/tools/lookup_account'
                  has_webhook_secret: true
                  timeout_ms: 8000
                  tool_spec:
                    type: function
                    function:
                      name: lookup_account
                      description: 'Fetch the participant''s CRM record so you can reference their plan, MRR, and last contact date.'
                      parameters:
                        type: object
                        properties:
                          account_id:
                            type: string
                        required:
                          - account_id
                  created_at: '2026-06-18T12:34:56.000Z'
                  updated_at: '2026-06-18T12:34:56.000Z'
        '400':
          description: >-
            Invalid payload — name doesn't match the pattern, `parameters_schema.type` isn't `"object"`, `webhook_url`
            is missing for webhook mode, or `timeout_ms` is out of range. Response body lists every error.
          content:
            application/json:
              example:
                message: Invalid payload
                errors:
                  - 'name must be a string matching ^[a-zA-Z0-9_-]{1,64}$ (OpenAI tool-name rule)'
                  - "webhook_url is required when execution_mode='webhook' (the default)"
        '401':
          description: 'Unauthorized — missing or invalid API key.'
        '409':
          description: A tool with this name already exists on this account.
          content:
            application/json:
              example:
                message: A custom function with that name already exists on this account
        '500':
          description: Server error.
  /custom-functions/{id}:
    get:
      operationId: GetTool
      summary: Get a tool
      description: Fetch one tool definition by ID.
      tags:
        - Tools
      security:
        - apiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Tool definition UUID.
          example: 4f8a6c50-9d3b-4c1f-9c0a-7a3b6e2d1f10
      responses:
        '200':
          description: Tool definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CustomFunction'
        '401':
          description: 'Unauthorized — missing or invalid API key.'
        '404':
          description: Tool not found on this account.
    patch:
      operationId: UpdateTool
      summary: Update a tool
      description: 'Patch any subset of fields. Propagates to every attached scenario instantly. Rotate the secret by sending a new `webhook_secret`.'
      tags:
        - Tools
      security:
        - apiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 4f8a6c50-9d3b-4c1f-9c0a-7a3b6e2d1f10
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Send only the fields you want to change.
              properties:
                name:
                  type: string
                  pattern: '^[a-zA-Z0-9_-]{1,64}$'
                  description: Rename the tool. Still must be unique per account.
                description:
                  type: string
                parameters_schema:
                  type: object
                execution_mode:
                  type: string
                  enum:
                    - webhook
                    - client
                webhook_url:
                  type: string
                  nullable: true
                webhook_secret:
                  type: string
                  nullable: true
                  description: New HMAC secret, or `null` to remove signing.
                timeout_ms:
                  type: integer
                  minimum: 1000
                  maximum: 30000
                on_call:
                  type: string
                  enum:
                    - generate_filler
                    - static_filler
                    - silent
                    - passthrough
                static_filler:
                  type: string
                  nullable: true
                  description: 'Phrase spoken while the tool runs. Required when `on_call = "static_filler"`; pass `null` to clear it when switching to another mode.'
                on_resolve:
                  type: string
                  enum:
                    - generate_response
                    - response_in_result
                    - add_to_context
                    - fire_and_forget
            example:
              on_call: static_filler
              static_filler: 'One moment, looking that up.'
              on_resolve: generate_response
      responses:
        '200':
          description: Tool updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CustomFunction'
        '400':
          description: Invalid payload.
        '401':
          description: 'Unauthorized — missing or invalid API key.'
        '404':
          description: Tool not found on this account.
        '409':
          description: Rename conflicts with an existing tool name on this account.
    delete:
      operationId: DeleteTool
      summary: Delete a tool
      description: 'Permanently delete a tool. Cascades — every attachment to a scenario is removed too. Meetings already in flight finish normally.'
      tags:
        - Tools
      security:
        - apiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 4f8a6c50-9d3b-4c1f-9c0a-7a3b6e2d1f10
      responses:
        '204':
          description: Tool deleted. No response body.
        '401':
          description: 'Unauthorized — missing or invalid API key.'
        '404':
          description: Tool not found on this account.
  /scenarios/{scenarioId}/custom-functions:
    get:
      operationId: ListScenarioTools
      summary: List tools attached to a scenario
      description: 'Return every tool attached to the scenario, ordered by `position`. Each row embeds the full tool definition under `custom_function`.'
      tags:
        - Scenario Tools
      security:
        - apiKeyAuth: []
      parameters:
        - name: scenarioId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Scenario UUID.
          example: 7e3b9c2a-1d4f-4a1b-bdc6-9c8b2d3f4e5a
      responses:
        '200':
          description: Attached tools for this scenario.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ScenarioCustomFunctionAttachment'
              example:
                data:
                  - id: f0d2e1b8-cc1d-4ef7-a3ba-1f4b0d2c5a4b
                    scenario_id: 7e3b9c2a-1d4f-4a1b-bdc6-9c8b2d3f4e5a
                    custom_function_id: 4f8a6c50-9d3b-4c1f-9c0a-7a3b6e2d1f10
                    active: true
                    position: 0
                    created_at: '2026-06-18T12:35:00.000Z'
                    updated_at: '2026-06-18T12:35:00.000Z'
                    custom_function:
                      id: 4f8a6c50-9d3b-4c1f-9c0a-7a3b6e2d1f10
                      name: lookup_account
                      description: 'Fetch the participant''s CRM record so you can reference their plan, MRR, and last contact date.'
                      execution_mode: webhook
                      webhook_url: 'https://your-app.com/waterr/tools/lookup_account'
                      has_webhook_secret: true
                      timeout_ms: 8000
        '401':
          description: 'Unauthorized — missing or invalid API key.'
        '404':
          description: Scenario not found on this account.
  /scenarios/{scenarioId}/custom-functions/{id}/attach:
    post:
      operationId: AttachToolToScenario
      summary: Attach a tool to a scenario
      description: 'Link an existing tool to a scenario. Idempotent — re-attaching the same pair returns `200 OK` with the existing row.'
      tags:
        - Scenario Tools
      security:
        - apiKeyAuth: []
      parameters:
        - name: scenarioId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Scenario UUID.
          example: 7e3b9c2a-1d4f-4a1b-bdc6-9c8b2d3f4e5a
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Tool definition UUID.
          example: 4f8a6c50-9d3b-4c1f-9c0a-7a3b6e2d1f10
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                active:
                  type: boolean
                  default: true
                  description: 'Set `false` to attach but hide from the LLM (staging).'
                position:
                  type: integer
                  minimum: 0
                  default: 0
                  description: Display order in the UI.
            example:
              active: true
              position: 0
      responses:
        '201':
          description: Newly attached.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ScenarioCustomFunctionAttachment'
        '200':
          description: Already attached — the existing attachment row is returned unchanged.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ScenarioCustomFunctionAttachment'
        '400':
          description: '`active` was not a boolean, or `position` was not a non-negative integer.'
        '401':
          description: 'Unauthorized — missing or invalid API key.'
        '404':
          description: Scenario or tool not found on this account.
  /scenarios/{scenarioId}/custom-functions/{id}:
    patch:
      operationId: UpdateScenarioToolAttachment
      summary: Update a scenario-tool attachment
      description: 'Toggle `active` or change `position` for this scenario. Does NOT modify the tool definition itself — use [`Update a tool`](#tag/Tools/operation/UpdateTool) for that.'
      tags:
        - Scenario Tools
      security:
        - apiKeyAuth: []
      parameters:
        - name: scenarioId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 7e3b9c2a-1d4f-4a1b-bdc6-9c8b2d3f4e5a
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Tool definition UUID.
          example: 4f8a6c50-9d3b-4c1f-9c0a-7a3b6e2d1f10
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                active:
                  type: boolean
                  description: Set to `false` to hide the tool from the LLM on this scenario without detaching it.
                position:
                  type: integer
                  minimum: 0
            example:
              active: false
      responses:
        '200':
          description: Attachment updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ScenarioCustomFunctionAttachment'
        '400':
          description: Empty body or invalid field types.
        '401':
          description: 'Unauthorized — missing or invalid API key.'
        '404':
          description: Attachment not found for this scenario/tool pair.
    delete:
      operationId: DetachToolFromScenario
      summary: Detach a tool from a scenario
      description: 'Remove the link between this scenario and the tool. The tool definition is preserved and stays attached to other scenarios.'
      tags:
        - Scenario Tools
      security:
        - apiKeyAuth: []
      parameters:
        - name: scenarioId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 7e3b9c2a-1d4f-4a1b-bdc6-9c8b2d3f4e5a
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Tool definition UUID.
          example: 4f8a6c50-9d3b-4c1f-9c0a-7a3b6e2d1f10
      responses:
        '204':
          description: Detached. No response body.
        '401':
          description: 'Unauthorized — missing or invalid API key.'
        '404':
          description: Attachment not found for this scenario/tool pair.
